<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SHOPING</title>
    <link rel="icon" href="ico/favicon.ico" tуpe="imagе/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png">
    <link rel="manifest" href="ico/site.webmanifest">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap-5.2.3/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-5.2.3/bootstrap-icons.css">
    <!-- Vue -->
    <script src="js/vue.global.js"></script>
  </head>

  <body>

    <header class="border-bottom border-primary">
      <div class="container-fluid">
        <div class="row align-items-center text-center text-primary">

          <div class="col-2">
            <a class="bi bi-github fs-1" role="button" href="https://github.com/ovvladimir/shopping_list" target="_blank"></a>
          </div>

          <div class="col-8">
            <h3>СПИСОК ПОКУПОК</h3>
          </div>

          <div class="col-2 navbar navbar-expand-lg bd-navbar justify-content-center">
            <nav class="flex-wrap flex-lg-nowrap" aria-label="navigation">
              <div class="nav-item dropdown">
                <button class="btn btn-link nav-link dropdown-toggle d-flex align-items-center" type="button" aria-expanded="false" data-bs-toggle="dropdown">
                  <i class="bi bi-card-list fs-1" id="icon-active"></i>
                  <span class="d-lg-none" id="bd-theme-text"></span>
                </button>
                <ul id="MyList" class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                  <li>
                    <button v-on:click="addMyList('myList')" type="button" class="dropdown-item d-flex align-items-center text-primary fs-5">
                      <i class="bi bi-list-ol text-primary fs-4 me-2"></i>
                      СОХРАНИТЬ МОЙ СПИСОК
                    </button>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <button v-on:click="loadMyList('myList')" type="button" class="dropdown-item d-flex align-items-center text-primary fs-5">
                      <i class="bi bi-list-ol text-primary fs-4 me-2"></i>
                      ПОКАЗАТЬ МОЙ СПИСОК&ensp;
                    </button>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
      </div>
        <img id="anim" src="ico/favicon-32x32.png" style="position: relative; left: -50px;">
      </div>
    </header>

    <main id="shoppingCart">
      <div class="container-fluid mx-auto mb-5">
        <div class="input-group-prepend my-3">
          <!-- button type="button" class="btn-close btn-close-white bg-white"></button -->
          <input type="text" placeholder="введите покупку" class="form-control text-uppercase fs-4" v-model="list" v-on:keyup.enter="addList()">
        </div>
          <ul class="list-group">
          <!-- Loop -->
          <li v-for="(product, index) in cart" class="list-group-item list-group-item-action list-group-item-primary text-primary text-uppercase fs-3">
            <span class="badge text-bg-primary me-2">{{index+1}}</span>
            <a v-if="product.toUpperCase() === 'МОЛОКО'" v-on:click="add(product.toUpperCase())" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">{{product}}</a>
            <a v-else-if="product.toLowerCase() === 'milk'" v-on:click="add('МОЛОКО')" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">МОЛОКО</a>
            <a v-else-if="product.toUpperCase() === 'ХЛЕБ'" v-on:click="add(product.toUpperCase())" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">{{product}}</a>
            <a v-else>{{product}}</a>
            <button v-on:click="remove(index)" type="submit" class="btn btn-outline-danger float-end">Удалить</button>
          </li>
        </ul>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary">{{choice}}</h5>
              <button type="button" class="btn-close btn-close-white bg-white" data-bs-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <p v-if="choice === 'МОЛОКО'">Молоко — питательная жидкость, вырабатываемая молочными железами самок млекопитающих во время лактации. 
                Естественное назначение молока — вскармливание потомства, которое ещё не способно переваривать другую пищу.</p>
              <p v-else-if="choice === 'ХЛЕБ'">Хлебобулочное изделие, получаемое путём выпекания теста (состоящего как минимум из муки и воды), 
                разрыхлённого дрожжами или закваской.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->
    </main>

    <footer>
      <div class="container-fluid border-top border-primary text-center fixed-bottom py-2">
        <h4 class="text-primary" id="current_date_time"></h4>
      </div>
    </footer>

    <div class="fixed-bottom text-end text-primary">
      <i id="up" class="bi bi-arrow-up-square me-1 fs-1" role="button" style="opacity: 0;"></i>
    </div>

    <script>
      // START Vue-3
      let getValueStorage = () => {
        // Загрузка из локального хранилища
        let val = JSON.parse(localStorage.getItem('cart'));
        if (val == null) { return [] }
        else { return val };
      };
      let cartValue = getValueStorage();

      let { createApp } = Vue;
      shoppingCart = {
        data: () => ({
            list: '',
            cart: cartValue,
            choice: null
        }),
        methods: {
          remove(index) {
            // Удаление элемента
            this.cart.splice(index, 1);
            // Добавление в локальное хранилище
            localStorage.setItem('cart', JSON.stringify(this.cart));
          },
          // Выбор модального окна
          add(chc) {
            this.choice = chc;
          },
          addList() {
            // Замена элемента
            if (this.list.toLowerCase() == 'песок') {
              this.list = 'сахар';
            }
            // Добавление элемента
            this.cart.push(this.list);
            // Добавление в локальное хранилище
            localStorage.setItem('cart', JSON.stringify(this.cart));
            // console.log(this.cart, 'добавили cart'); //
            this.list = '';
          }
        },
      };
      let vm = createApp(shoppingCart).mount('#shoppingCart');
      // console.log(vm.cart, 'получили значение cart')

      lists = {
        methods: {
          addMyList(theme) {
            localStorage.setItem(theme, JSON.stringify(vm.cart));
            // console.log(vm.cart, 'добавили мой список в локальное хранилище');
          },
          loadMyList(theme) {
            let newValue = localStorage.getItem(theme);
            if (newValue != null) {
              vm.cart = JSON.parse(localStorage.getItem(theme));
              localStorage.setItem('cart', JSON.stringify(vm.cart));
            };
            // console.log('загрузили мой список из локального хранилища');
          }
        },
      };
      createApp(lists).mount('#MyList');
      // END Vue

      // Дата, часы
      /* функция добавления ведущих нулей */
      /* (если число меньше десяти, перед числом добавляем ноль) */
      const element = document.getElementById('current_date_time')
      function zero_first_format(value)
      {
        if (value < 10) { value='0' + value }
        return value
      }
      /* функция получения текущей даты и времени */
      function date_time()
      {
        let current_datetime = new Date()
        let day = zero_first_format(current_datetime.getDate())
        let month = zero_first_format(current_datetime.getMonth()+1)
        let year = current_datetime.getFullYear()
        let hours = zero_first_format(current_datetime.getHours())
        let minutes = zero_first_format(current_datetime.getMinutes())
        let seconds = zero_first_format(current_datetime.getSeconds())

        return day+"."+month+"."+year+" "+hours+":"+minutes+":"+seconds
      }
      /* каждую секунду получаем текущую дату и время */
      /* и вставляем значение в блок с id "current_date_time" */
      setInterval(function () { element.innerHTML = date_time() }, 1000)

      // Кнопка прокрутки страницы вверх
      window.onload = function() {
        const topBtn = document.getElementById('up');
        topBtn.onclick = () => window.scroll({ top: 0, behavior: "smooth" });
        window.onscroll = () => window.scrollY > 50 ? topBtn.style.opacity = 0.75 : topBtn.style.opacity = 0
      }

      // Анимация
      document.getElementById("anim").animate([
        { transform: 'translateX(0vw)' }, 
        { transform: 'translateX(104vw)' }
      ], {
        duration: 30000,
        iterations: Infinity
      })
    </script>

    <!-- script src="js/main.js" defer></script -->
    <script src="bootstrap-5.2.3/bootstrap.bundle.min.js"></script>

  </body>
</html>