<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SHOPING</title>
    <link rel="icon" href="ico/favicon.ico" tуpe="imagе/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png">
    <link rel="manifest" href="ico/site.webmanifest">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap-5.2.3/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-5.2.3/bootstrap-icons.css">
    <!-- Vue -->
    <script src="bootstrap-5.2.3/vue.js"></script>
  </head>

  <body>

    <header class="border-bottom border-primary">
      <div class="container-fluid">
        <div class="row align-items-center text-center text-primary">

          <div class="col-2">
            <a class="bi bi-github fs-1" role="button" href="https://github.com/ovvladimir/shopping_list" target="_blank"></a>
          </div>

          <div class="col-8">
            <h3>СПИСОК ПОКУПОК</h3>
          </div>

          <div class="col-2 navbar navbar-expand-lg bd-navbar justify-content-center p-0">
            <nav class="flex-wrap flex-lg-nowrap" aria-label="navigation">
              <div class="nav-item dropdown">
                <button class="btn btn-link nav-link dropdown-toggle d-flex align-items-center" type="button" aria-expanded="false" data-bs-toggle="dropdown">
                  <i class="bi bi-card-list fs-1" id="icon-active"></i>
                  <span class="d-lg-none" id="bd-theme-text"></span>
                </button>
                <ul id="MyList" class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                  <li>
                    <button v-on:click="addMyList('myList')" type="button" class="dropdown-item d-flex align-items-center text-primary fs-5">
                      <i class="bi bi-list-ol text-primary fs-4 me-2"></i>
                      ДОБАВИТЬ МОЙ СПИСОК&ensp;
                    </button>
                  </li>
                  <li>
                    <button v-on:click="loadMyList('myList')" type="button" class="dropdown-item d-flex align-items-center text-primary fs-5">
                      <i class="bi bi-list-ol text-primary fs-4 me-2"></i>
                      ЗАГРУЗИТЬ МОЙ СПИСОК
                    </button>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
      </div>
        <img id="anim" src="ico/favicon-32x32.png" style="position: relative; left: -50px;">
      </div>
    </header>

    <main id="shopping_cart">
      <div class="container-fluid mx-auto mb-5">
        <div class="input-group-prepend my-3">
          <!-- button type="button" class="btn-close btn-close-white bg-white"></button -->
          <input type="text" placeholder="введите покупку" class="form-control text-uppercase fs-4" v-model="list" v-on:keyup.enter="addList()">
        </div>
          <ul class="list-group">
          <!-- Loop -->
          <li v-for="(product, index) in cart" class="list-group-item list-group-item-action list-group-item-primary text-primary text-uppercase fs-3">
            <span class="badge text-bg-primary me-2">{{index+1}}</span>
            <a v-if="product.toUpperCase() === 'МОЛОКО'" v-on:click="add(product.toUpperCase())" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">{{product}}</a>
            <a v-else-if="product.toLowerCase() === 'milk'" v-on:click="add('МОЛОКО')" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">МОЛОКО</a>
            <a v-else-if="product.toUpperCase() === 'ХЛЕБ'" v-on:click="add(product.toUpperCase())" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">{{product}}</a>
            <a v-else>{{product}}</a>
            <button v-on:click="remove(index)" type="submit" class="btn btn-outline-danger float-end">Удалить</button>
          </li>
        </ul>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary">{{choice}}</h5>
              <button type="button" class="btn-close btn-close-white bg-white" data-bs-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <p v-if="choice === 'МОЛОКО'">Молоко — питательная жидкость, вырабатываемая молочными железами самок млекопитающих во время лактации. 
                Естественное назначение молока — вскармливание потомства, которое ещё не способно переваривать другую пищу.</p>
              <p v-else-if="choice === 'ХЛЕБ'">Хлебобулочное изделие, получаемое путём выпекания теста (состоящего как минимум из муки и воды), 
                разрыхлённого дрожжами или закваской.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->
    </main>

    <footer>
      <div class="container-fluid border-top border-primary text-center fixed-bottom py-2">
        <h4 class="text-primary" id="current_date_time"></h4>
      </div>
    </footer>

    <div class="fixed-bottom text-end text-primary">
      <i id="up" class="bi bi-arrow-up-square me-1 fs-1" role="button" style="opacity: 0;"></i>
    </div>

    <script src="js/main.js"></script>
    <script src="bootstrap-5.2.3/bootstrap.bundle.min.js"></script>

  </body>
</html>